{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        MAIN BLOG
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:#f2f2f2">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'img/logo.png' %}" width="40" height="40" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expended="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            Меню
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_page' %}"><span id="nav-it">Главная</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main_url' %}"><span id="nav-it">Блог</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mods_url' %}"><span id="nav-it">Моды</span></a>
                </li>
                {% if auth == 'false' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_url' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reg_url' %}">Регистрация</a>
                </li>
                {% endif %}

                {% if auth == 'true' %}
                <li class="nav-item">
                    <a class="nav-link" href="#"><i>{{ name }}</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'session_del_url' %}">Выйти</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_que' %}">
                <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content %}
    UNKNOWN BLOCK
    {% endblock %}

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>